body {
  background-image: url(../CSS/img/background-gamer.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-height: fit-content;
}
#titulo {
  color: rgb(189, 186, 186);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  letter-spacing: 9px;
  font-size: calc(1rem + 1vw);
  background-color: rgba(8, 8, 8, 0.795);
  width: 100%;
  height: 55px;
  opacity: calc(0.9);
  border-radius: 10px;
  font-family: "Kode Mono", monospace;
  box-shadow: rgb(69, 71, 211) 0px 20px 30px -10px;
}

.container > div {
  background-color: rgba(8, 8, 8, 0.795);
  border-radius: 5px;
  margin: 5px;
  width: 370px;
  min-height: 400px;
  height: fit-content;
  padding: 14px;
  box-shadow: 10px 5px rgba(17, 59, 114, 0.267);
  transition: height 1s, transform 1s;
}
.container div:hover {
  height: fit-content;
}
.container > div > img {
  width: 100px;
  height: 100px;
  position: relative;
  left: 35%;
  border-radius: 50%;
  box-shadow: rgba(9, 25, 29, 0.25) 0px 54px 55px,
    rgba(63, 87, 192, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(39, 151, 255, 0.233) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.container > div > h1 {
  color: antiquewhite;
  font-family: "VT323", monospace;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}
.container > div > p {
  color: antiquewhite;
  font-family: monospace;
}
/* Responsividade */
@media (orientation: landscape) and (max-width: 832px) {
  .container div {
    width: 800px;
  }
  .container div img {
    position: relative;
    left: 44%;
  }
  .container div p {
    font-size: 13.5px;
    padding-top: 10px;
  }
}
